/*src/app/donation/page.css*/

.donationButtons {
  position: relative;
  left: -269px;
  top: 68px;
  margin-bottom: 9px;
}
.donationSection {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #ffff;
  overflow: hidden; 
}

.imageContainer {
  position: relative;
  flex: 1;
  left: -109px;
}

.imageContainer img {
  width: 46%;
  height: 451px;
  left: 248px;
  top: 19px;
  position: relative;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 80px;
  transform: rotate(90deg);
  left: 519px;
  height: 25px;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.donationContent {
  flex: 1;
  padding: 2rem;
  position: relative;
  left: -114px;
}
.donationSubtitle {
  color: #8b4513;
  font-size: 11px;
  font-weight: 100;
  word-spacing: 1px;
  margin-bottom: 0.5rem;
  position: relative;
  top: 11px;
}

.donationTitle {
  font-size: 2rem;
  top: 7px;
  font-weight: 100;
  margin-bottom: 1rem;
  left: -4px;
}

.donationDescription {
  margin-bottom: 1.5rem;
  left: -1px;
  top: 4px;
  font-size: 13px;
  text-decoration: none;
}




.goalContainer {
  margin-bottom: 1rem;
}

.goalText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.progressBar {
  width: 100%;
  background-color: #e0e0e0;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background-color:#8b4513;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.donationOptions {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.donationInput {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.donationButtons button {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
}

.donationButtons button:hover {
  background-color: #e0e0e0;
}

.donateNowButton {
  background-color: #8b4513;
  color: white;
  position: relative;
  top: 79px;
  width: 152px;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.donateNowButton:hover {
  background-color: #b4844a;
}
