/* styles.css */

h2.volunteer-heading {
  position: relative;
  left: 730px;
  top: 38px;
  color: #8a5b34;
  font-weight: 100;
  font-size: 11px;
}
h3.volunteer-subheading {
  top: 23px;
  font-size: 22px;
  font-weight: 100;
  position: relative;
  left: 579px;
  word-spacing: 6px;
}

img.volunteer-image {
  position: relative;
  left: 273px;
  height: 372px;
  top: 27px;
}
p.volunteer-description {
  position: relative;
  top: 10px;
  font-size: 15px;
  width: 671px;
  left: 458px;
  text-align: center;
}
h4.volunteer-author {
  font-size: 13px;
  font-weight: 100;
  left: 620px;
  top: -179px;
}
p.volunteer-content {
  position: relative;
  width: 524px;
  left: 621px;
  top: -200px;
  font-size: 15px;
  line-height: 27px;
  word-spacing: 11px;
}

.volunteer-button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  left: -86px;
  position: relative;
  margin-top: 20px;
  top: -163px;
}

.volunteer-button {
  background-color: #8a4b23;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.volunteer-button:hover {
  background-color: #6f391b;
}
.get-involved-section {
  background-color: #8b4513;
  padding: 2rem;
  height: 185px;
  width: 1044px;
  position: relative;
  overflow: hidden;
  left: 201px;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
}

.get-involved-section h2 {
  font-size: 2rem;
  color: #fff;
}

.get-involved-section p {
  font-size: 1rem;
  color: #fff;
  top: -4px;
  font-size: 13px;
  font-weight: 100;
  width: 625px;
  left: 208px;
  position: relative;
  margin: 1rem 0;
}

.get-involved-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.get-involved-buttons button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #8a5b34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-involved-buttons button:hover {
  background-color: #ddd;
}
img.dog-image {
  position: relative;
  left: -297px;
  top: -272px;
  width: 271px;
  height: 272px;
}
img.cat-image {
  position: relative;
  left: 296px;
  height: 272px;
  width: 271px;
  top: -273px;
}
