/*src/app/about-us/page.css*/

.mainContent {
  height: 100vh; 
  overflow: hidden; 
}


.aboutSection {
  padding: 105px 20px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden; 
}
h3.subtitle {
  font-size: 9px;
  color: #8a4513;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 4px;
  font-family: Arial;
  margin-bottom: 10px;
  top: -36px;
  position: relative;
}

h1.title {
  font-size: 29px;
  color: #333;
  margin-bottom: 20px;
  top: -50px;
  word-spacing: 3px;
  left: 484px;
  font-family: Arial;
}

.title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  top: -85px;
  left: 10px;
}

.description {
  font-size: 12px;
  color: #666;
  top: -56px;
  left: 451px;
  width: 623px;
  word-spacing: -1px;
  margin-bottom: 40px;
  align-content: center;
}
.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

.textContent {
  flex: 1;
  min-width: 301px;
  max-width: 600px;
  text-align: left;
  padding-right: 20px;
  position: relative;
  left: 168px;
  top: -54px;
}
.textContent h2 {
  font-size: 26px;
  color: #333;
  font-weight: 100;
  position: relative;
  width: 354px;
  word-spacing: 4px;
  left: 28px;
  margin-bottom: 20px;
  top: -28px;
}
.textContent p {
  color: #666;
  margin-bottom: 20px;
  left: 26px;
  position: relative;
  top: -33px;
  word-spacing: -1px;
  width: 369px;
  line-height: 25px;
  font-size: 12px;
}

.donateButton {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  height: 15px;
  width: 129px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  font-size: 11px;
  left: 26px;
  font-weight: 100;
  top: -21px;
  display: inline-block;
}
.imageContainer {
    position: relative;
    flex: 1;
    height: 497px;
    left: -160px;
}
.image img {
  position: relative;
  height: 329px;
  width: 549px;
  left: -171px;
  border-radius: 6px;
  top: -57px;
}
.image img {
  position: relative;
  height: 280px;
  left: -140px;
  border-radius: 15px;
  top: -69px;
}
.section {
  padding: 27px;
  overflow-x: hidden;
}
