.animalsSection {
  padding: 80px 20px;
  background-color: #fdf7f4;
  text-align: center;
}

.sectionTitle {
  font-size: 30px;
  color: #000;
  position: relative;
  font-weight: 100;
  margin-bottom: 20px;
  left: 21px;
}

.sectionTitle1 {
  font-size: 11px;
  font-weight: 100;
  position: relative;
  left: 505px;
  top: 16px;
  color: #8a4513;
}

.sectionSubtitle {
  font-size: 13px;
  top: -7px;
  left: 446px;
  width: 670px;
  word-spacing: -1px;
  color: #666;
  margin-bottom: 40px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px; 
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  margin: 10px; 
  text-align: left;
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 20px;
}

.cardStats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}


.cardStats .goal, .cardStats .raised {
  display: inline-block;
  width: 50%;
  color: black;
  font-family: Arial;
  font-size: 11px;
}

span.goal {
  position: relative;
  left: 0px;
}
span.raised {
  position: relative;
  left: 54px;
}

.progressBar1 {
  width: 100%;
  background-color: #e0e0e0;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px; 
}

.progress {
  background-color: #8b4513;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}


.card h3 {
  font-size: 18px;
  color: #333;
  font-weight: 100;
  margin-bottom: 10px;
}

.card p {
  font-size: 12px;
  color: #666;
  top: 3px;
  width: 262px;
  margin-bottom: 20px;
  left: 0px;
}
.detailsButton {
  color: #8b4513;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-family: Arial;
  font-size: 14px;
  display: inline-block;
}
.viewAllButton {
  display: inline-block;
  margin-top: 40px;
  background-color: #8b4513;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
