/* page.css */
/*body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #93cdaa;
}
html {
  scroll-behavior: smooth;
}


}*/

span.button {
  position: relative;
  top: -143px;
  left: 84px;
}
html {
  scroll-behavior: smooth; 
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.pageContainer {
  padding-top: 60px;
  background-color: #93cdaa;
  
}

.section {
  padding: 50px;
  overflow-x: hidden; 
}
h4 {
  position: relative;
  font-size: 11px;
  top: -107px;
  font-weight: 600;
  left: 89px;
  letter-spacing: 1px;
}
h1 {
  font-size: 39px;
  position: relative;
  font-family: Arial;
  left: 83px;
  top: -143px;
  width: 510px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 98vh;
  padding: 14px;
  padding-top: 13px;
  position: relative;
  top: -308px;
  left: 102px;
  font-size: 18px;
  width: 617px;
}

p {
  position: relative;
  left: 87px;
  font-weight: 100;
  top: -169px;
  font-family: Arial;
  width: 565px;
  line-height: 24px;
  font-size: 11px;
  letter-spacing: 1px;
}
.button {
  background-color: saddlebrown;
  color: white;
  padding: 10px 20px;
  width: 80px;
  height: 19px;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
img.pageImage {
  height: 420px;
  width: 345px;
  position: relative;
  left: 1019px;
  top: 142px;
}
.mainContent {
  height: 741px;
}
p.p {
  font-family: Arial;
  font-size: 14px;
  width: 621px;
  line-height: 25px;
  letter-spacing: 1px;
}
.sectionsContainer {
  background-color: white;
}

.section {
  padding: 0px;
  overflow-x: hidden;
}
.Navbar_navLink__id1IU {
  color: #000000;
  font-family: Arial;
  display: flex;
  letter-spacing: 2px;
  position: relative;
  left: -22px;
}
.Navbar_pawPrints__i3n3W {
  font-weight: bold;
  color: #8a4513;
  font-size: 17px;
  font-family: cursive;
  margin-right: 30px;
  position: relative;
  display: inline-block;
}
.Navbar_navList__3LBi0 {
  list-style-type: none;
  margin: 0;
  position: relative;
  font-size: 12px;
  left: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Navbar_button__ARN2R {
  background-color: #ffffff;
  color: #8a4513;
  width: 79px;
  text-align: center;
  height: 21px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
  font-weight: 100;
  border: 1px solid #8a4513;
}